<style>
</style>

<main class="main">  
  <div ngModel #viewerElement [id]="containerID"></div>
  <button (click)="scan()">Scan</button>
  <button (click)="edit()">Edit</button>
  <div>
    For selected:
    <button (click)="readMRZ()">Read MRZ</button>
    <button (click)="readBarcodes()">Read Barcodes</button>
  </div>
  <div>
    <h2>Parsed</h2>
    <div>
      Document number:&nbsp;
      <span>{{info.docNumber}}</span>
    </div>
    <div>
      First name:&nbsp;
      <span>{{info.firstName}}</span>
    </div>
    <div>
      Last name:&nbsp;
      <span>{{info.lastName}}</span>
    </div>
    <div>
      Date of Birth:&nbsp;
      <span>{{info.birthDate}}</span>
    </div>
    <div>
      Sex:&nbsp;
      <span>{{info.sex}}</span>
    </div>
  </div>
</main>

<router-outlet />
